<div>
  <h1>图书馆</h1>
  <table>
    <tr>
      <th>书名</th>
      <th>作者</th>
      <th>出版日期</th>
      <th>价格</th>
      <th>操作</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.editionDate | date:'yyyy-MM-dd' }}</td>
      <td>{{ book.price | currency:'CNY':"symbol-narrow" }}</td>
      <td>
        <button (click)="deleteBook(book.bookId)">删除</button>
        <button (click)="showUpdateForm(book.bookId, book.title)">修改</button>
      </td>
    </tr>
  </table>
</div>
<br/>
<div *ngIf="isShownUpdateForm">
  <h3>图书价格调整</h3>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value, 'update')">
    <div>
      <label for="update_title">
        书名
      </label>
      <input id="update_title" type="text" [value]="updateTitle" readonly="readonly" style="font-size: 18px;">
    </div>
    <div>
      <label for="update_price">
        价格
      </label>
      <input id="update_price" type="number" formControlName="price">
    </div>
    <br/>
    <button class="button" type="submit">修改图书</button>
  </form>
</div>
<br/>
<div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value, 'add')">
    <div>
      <label for="title">
        书名
      </label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="author">
        作者
      </label>
      <input id="author" type="text" formControlName="author">
    </div>
    <div>
      <label for="editionDate">
        出版日期
      </label>
      <input id="editionDate" type="date" formControlName="editionDate">
    </div>
    <div>
      <label for="price">
        价格
      </label>
      <input id="price" type="number" formControlName="price">
    </div>
    <br/>
    <button class="button" type="submit">添加图书</button>
  </form>
</div>
