h1, h3 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid black;
  font-size: 20px;
}

button {
  font-size: 20px;
}

form
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}
